body{
  background-color: black;
  color: white;
}
body, html{
  margin: 0;
  padding: 0;
}
#topbar{
  background-color: rgb(53, 0, 102);
  height: 68px;
  display: grid;
  grid-template-columns: 1fr 170px 10px 170px 1fr;
  grid-template-rows: 1fr;
}
#playTrigger{
  grid-column: 2;
}
#hiScoreTrigger{
  grid-column: 4;
}
a{
  color: rgb(253, 231, 255);
  text-decoration: none;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}
.linkTrigger{
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.linkTrigger:hover a{
  color: rgb(249, 177, 255);
  font-size: 29px;
  font-weight: 600;
  transition: font-size 0.175s ease-in-out;
}
#app{
  height: 100vh;
  display: grid;
  grid-template-rows: 68px 1fr 42px;
  margin: 0;
  padding: 0;
}
#topbar{
  grid-row: 1,2;
}
#footer{
  grid-row: 4,5;
  background-color: rgb(19, 0, 41);
  display: flex;
  align-items: center;
  justify-content: center;
}
#game{
  background-color: blueviolet;
  height: 100%;
  width: 100%;
  grid-row: 2,4;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
}
#sideBar{
  grid-column: 1,2;
}
.scene{
  height: 491px;
  width: 704px;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><circle cx="32" cy="32" r="28" stroke="black" stroke-width="2" fill="none"/></svg>') 16 16, auto;
}
.purpBtn{
  background-color: rgb(232, 174, 255);
  color: rgb(55, 0, 107);
  cursor: pointer;
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  margin-left: 12px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.62);
  box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.62);
  transition: background-color 0.1s ease-in-out;
}
.purpBtn:hover{
  background-color: rgb(240, 204, 255);
}
.purpBtn>#startTxt:not(.wonYet){
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 39px;
  transition: font-size 0.12s ease-in-out;
  
}
.purpBtn:hover >#startTxt:not(.wonYet){
  font-size: 46px;
}
.purpBtn>div{
  font-size: 32px;
  font-weight: 600;
}
#red{
  background-color: red;
}
#green{
  background-color: rgb(43, 255, 0);
}
#hiscores{
  background-color: blueviolet;
  color: white;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 80px 1fr;
}
#hiscores>p{
  color: rgb(250, 227, 255);
  text-align: center;
  font-size: 52px;
  font-weight: 800;
  margin-top: 4px;
  grid-row: 1;
  grid-column: 1 / -1;
}
#btmPart{
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: flex;
  justify-content: center;
}
.spacer{
  flex: 1 0 8px;
}
#leaderboard{
  flex: 1 0 700px;
  background-color: rgb(205, 168, 240);
  -webkit-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.65);
  box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.65);
  width: 100%;
  max-width: 700px;
  border: 4px solid rgb(53, 0, 102);
  border-radius: 8px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: auto;
}
#leaderboard>div{
  color: rgb(53, 0, 102);
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  align-items: center;
  font-size: 28px;
  font-weight: 800;
}
.lScore{
  margin-left: auto;
  margin-right: 55px;
}/*
#nameForm{
  width: 70%;
  background-color: rgb(205, 168, 240);
  -webkit-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.65);
  box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.65);
  border: 4px solid rgb(53, 0, 102);
  border-radius: 8px;
  color: rgb(53, 0, 102);
  margin-top: 25px;
  margin-bottom: 240px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 70px 30px 1fr;
}
#nameForm>h1, #nameForm>h2{
  grid-column: 2/3;
  text-align: center;
  margin: 0;
}
#nameForm>h1{
  grid-row: 1/2;
  margin-top: 15px;
  font-size: 55px;
}
#nameForm>h1{
 
  font-size: 40px;
}
#nameForm>div{
  grid-row: 3/-1;
  grid-column: 2/-2;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.nameActualForm, .nameActualForm>*{
  text-decoration: none;
  background-color: rgb(205, 168, 240);
}
input{
  appearance: none;
  height: 25px;
  border: 2px solid rgb(53, 0, 102);
  border-radius: 9px;
}
input:hover, input:active{
  background-color: rgb(224, 198, 248);
}
textarea, input { outline: none; }/
#game{
  background-color: blueviolet;
  height: 100%;
  width: 100%;
  grid-row: 2,4;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  place-items: center; /* new line 
}
*/
#nameForm{
  width: 70%;
  background-color: rgb(205, 168, 240);
  -webkit-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.65);
  box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.65);
  border: 4px solid rgb(53, 0, 102);
  border-radius: 8px;
  color: rgb(53, 0, 102);
  padding: 20px; 
  display: flex;
  
  flex-direction: column; 
  align-items: center; 
  margin-top: 30px;
  margin-bottom: 150px;
}

input{
  appearance: none;
  height: 35px; 
  width: 88%; 
  padding: 0 15px;
  border: 2px solid rgb(53, 0, 102);
  border-radius: 9px;
  background-color: rgb(225, 206, 244);
}

.formBtn{
  appearance: none; 
  background-color: rgb(53, 0, 102); 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  cursor: pointer; 
  margin-top: 10px; 
  width: 100%;
}

button:hover{
  background-color: rgb(73, 20, 132); 
}
h1{
  font-size: 50px;
  margin-bottom: 3px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#formContainer{
  width: 300px;
}
.formBtn{
  height: 50px;
}
.formBtn>p{
  margin: 0;
  transition: font-size 0.175s ease-in-out;
}
.formBtn>p{
  font-size: 20px;
}
.formBtn:hover >p{
  font-size: 25px;
}
.findWaldo{
  font-size: 20px;
  font-weight: 500;
  margin-left: 12px;
}